@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap');

html {
  background-color: #fff;
  font-family: 'Manrope', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}